<style>
*{      
margin: 0;      
padding: 0;
}
        body {
        font-family: Calibri;
        }
        h1 {
        font-family: Calibri;
        color: #ff3399;
        }
        h4 {
        font-family: Calibri;
        color: #ff3399;
        }
        header { background-color: #00008B;
        }
        .logo{ padding: 30%;
        }
        nav{
                height: 50px;
                font-family: verdana;
                background-color: #6495ED;
        }
        nav a {text-decoration: none;
                padding: 20px;
                bottom: 50%;
        }
        .nav-menu-highlight {font-weight: bolder;
        }
        hr {margin: 10px;
        }
        div #firstcontainer{
                width: 100%;
                padding: 30px;
                border: 30px;
                border-width: 30px;
                margin: 30px;
        }
        div #secondcontainer{
                border-color: grey;
                border-width: 2px;
                background-color: #e8effc;
                align-content: center;
        }

                
        
        </style>